@page "/counter"
@inject IJSRuntime Js

<PageTitle>Counter</PageTitle>


<h3>PrintTest</h3>

<button @onclick="Print">imprimir</button>

@code {
    private async Task Print()
    {
        await Js.InvokeVoidAsync("printInvoke");
    }
}