@page "/fetchdata"
@inject IJSRuntime jsRuntime

<button @onclick="SendToPrinter">Enviar a la impresora</button>

@code {
    private async Task SendToPrinter()
    {
        string text = "Este es el texto que se enviará a la impresora";
        await jsRuntime.InvokeVoidAsync("printText", text);
    }
}