
@page "/"

@using Blazm.Bluetooth

@inject IBluetoothNavigator navigator




<button @onclick="Connect">Connect</button>

@code {


    protected async Task Connect()
    {



        var q = new RequestDeviceQuery(){AcceptAllDevices = true};

        var device = await navigator.RequestDeviceAsync(q);


    }


    private void Value_Notification(object sender, CharacteristicEventArgs e)
    {

        StateHasChanged();
    }

}
