
@page "/"

@using Blazm.Bluetooth

@inject IBluetoothNavigator navigator




<button @onclick="Connect">Connect</button>

@code {


    protected async Task Connect()
    {


        @*<5. AddFilter>*@
        var q = new RequestDeviceQuery(){AcceptAllDevices = true};

        @*</5. AddFilter>*@

        @*<6. RequestDevice>*@
        var device = await navigator.RequestDeviceAsync(q);
        @*</6. RequestDevice>*@



        @*</7. Setup notification>*@
    }


    private void Value_Notification(object sender, CharacteristicEventArgs e)
    {

        StateHasChanged();
    }

}
